// Device Widths
$mobile-width           : 450px;
$mobile-landscape-width : 700px;
$tablet-width           : 1024px;
$desktop-width          : 1200px;

@mixin mq($point) {
  
  $mobile           : "(min-width : 0)";
  $mobile-landscape : "(min-width : #{$mobile-landscape-width})";
  $tablet           : "(min-width : #{$tablet-width})";
  $desktop          : "(min-width : #{$desktop-width})";

  @if $point == mobile {
    @media #{$mobile} { @content; }
  }
  @else if $point == mobile-landscape {
    @media #{$mobile-landscape} { @content; }
  }
  @else if $point == tablet {
    @media #{$tablet}  { @content; }
  }
  @else if $point == desktop {
    @media #{$desktop}  { @content; }
  }
  @else if $point == widescreen {
    @media #{$widescreen}  { @content; }
  }

}

// EXAMPLE USAGE:
// @include rem(margin, 10, 20, 30, 40);
// @include rem(font-size, 1.6)
// @include rem(line-height, 1.6)

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@mixin rem($property, $values...) {
  $max: length($values);
  $pxValues: '';
  $remValues: '';

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $pxValues: #{$pxValues + $value*10}px;

    @if $i < $max {
      $pxValues: #{$pxValues + " "};
    }
  } 

  @for $i from 1 through $max {
    $value: strip-unit(nth($values, $i));
    $remValues: #{$remValues + $value}rem;

    @if $i < $max {
      $remValues: #{$remValues + " "};
    }
  } 
  
  #{$property}: $pxValues; 
  #{$property}: $remValues; 
}