html, body {
    margin:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}
h1 {
    padding:0;
    margin:0;
    font-size: 20px;
    line-height: 32px;
    text-transform: uppercase;
}
.layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}
.layout-menu {
    flex-basis: 200px;
    background-color: #f2f2f2;
}
.layout-menu nav {
    margin:20px;
}
.layout-menu nav a {
    display:block;
}
.logo {
    margin:20px;
}
nav {
    margin:20px 0;
}
section {
    margin:20px;
}