/* MOBILE FIRST */
.menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu button.hamburger {
    text-align: right;
    width:100%;
    cursor:pointer;
    background-color: var(--white);
    border:0;
    font-size: 2rem;
    line-height: 4rem;
    padding-right:1.5rem;
}

.menu button.hamburger:before { 
    content:'\2630';
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.menu ul li a {
    font-size: 1.2rem;
    line-height: 4rem;
    display: block;
    text-decoration: none;
    text-indent: 2rem;
    color: var(--black);
    background-color: var(--light-grey);
}

.menu ul li a:hover,
.menu button.hamburger:hover {
    color: var(--white);
    background-color: var(--black);
}

/* RESPONSIVE */
@media (--mobile-landscape-viewport) {

    .menu ul {
        display: block;
    }

    .menu button.hamburger {
        display: none;
    }

}

/* PRINT */
@media print {
    .menu {
        display: none;
    }
}
