.menu {
    ul {
        list-style: none;
        margin:0;
        padding:0;
        li {
            a {
                @include rem(line-height, 2);
                @include rem(text-indent, 1);
                background-color: $grey;
                text-decoration: none;
                display: block;
                color: $black;
                &:hover {
                    background-color: $black;
                    color: $white;
                }
            }
        }
    }
}