.menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu button.hamburger {
    text-align: right;
    width:100%;
    cursor:pointer;
}

.menu button.hamburger:before { 
    content:'\2630';
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}

.menu ul li a {
    font-size: 1.2rem;
    line-height: 4rem;
    display: block;
    text-decoration: none;
    text-indent: 2rem;
    color: var(--black);
    background-color: var(--light-grey);
}

.menu ul li a:hover {
    color: var(--white);
    background-color: var(--black);
}

@media (--mobile-landscape-viewport) {

    .menu ul {
        display: block;
    }

    .menu button.hamburger {
        display: none;
    }

}