.menu {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul li a {
    font-size: 1.2rem;
    line-height: 4rem;
    display: block;
    text-decoration: none;
    text-indent: 2rem;
    color: var(--black);
    background-color: var(--light-grey);
}

.menu ul li a:hover {
    color: var(--white);
    background-color: var(--black);
}