<!doctype html>
<html class="no-js" lang="">
    {%page include "../parts/head.html" %}
    <body>
        <div class="body">
            {%page include "../parts/header.html" %}
            <div class="row">
                <div class="col col-1-4">{%page include "../parts/menu.html" %}</div>
                <div class="col">
                    <div class="content">
                        <h1>{{@page name }}</h1>
                        <p>The following sites are offered as simple examples demonstrating the flexibility and power of statical.</p>
                        <dl>
                            <dt><a href="http://bible.kevinlint.com" target="_blank">The Bible</a></dt>
                            <dd>Can statical handle a whole bunch of pages? How about publishing the entire bible?</dd>
                            <dt><a href="http://linttraprecords.com" target="_blank">Lint Trap Records</a></dt>
                            <dd>Can it be customized in any way I see fit? How about for a record label's site.</dd>
                        </dl>
                    </div>
                </div>
            </div>
            {%page include "../parts/footer-scripts.html" %}
        </body>
    </html>