<!doctype html>
<html class="no-js" lang="">
    {% include "./src/parts/head.html" %}
    <body>
        {% include "./src/parts/menu.html" %}
        {% include "./src/parts/footer-scripts.html" %}
    </body>
</html>