<!doctype html>
<html class="no-js" lang="">
    {%page include "../parts/head.html" %}
    <body>
        <div class="body">
            <h2>{@property name }}</h2>
            <h1>{@page name }}</h1>
            <p>{@page message }}</p>
            {%page include "../parts/somepart.html" %}
            <p><a href="http://statical.website">docs</a></p>
        </body>
    </html>