<!doctype html>
<html class="no-js" lang="">
    {% include "./src/parts/head.html" %}
    <body>
        <div class="body">
            {% include "./src/parts/header.html" %}
            <div class="row">
                <div class="col col-33">{% include "./src/parts/menu.html" %}</div>
                <div class="col">
                    <div class="content">
                    <h1>{{@page name }}</h1>
                    {% autoescape %}{{@page content|safe }}{% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
        {% include "./src/parts/footer-scripts.html" %}
    </body>
</html>