<!doctype html>
<html class="no-js" lang="">
    {% include "./src/parts/head.html" %}
    <body>
        <div class="body">
            {% include "./src/parts/header.html" %}
            <div class="content">
                <h1>{{@page name }}</h1>
                {% autoescape false %}{{@page content|safe }}{% endautoescape %}
                <h2>Menu</h2>
                {% include "./src/parts/menu.html" %}
            </div>
        </div>
        {% include "./src/parts/footer-scripts.html" %}
    </body>
</html>