<!doctype html>
<html class="no-js" lang="">
    {%page include "../parts/head.html" %}
    <body>
        <div class="body">
            {%page include "../parts/header.html" %}
            <div class="content">
                <h1>{{@page name }}</h1>
                A basic style guide containing a single part.
                <h2>Menu</h2>
                {%page include "../parts/menu.html" %}
            </div>
        </div>
        {%page include "../parts/footer-scripts.html" %}
    </body>
</html>