:root {
    /* COLORS */
    --stark-white: #FFFFFF;
    --white: #f3f3f3;
    --black: #333333;
    --light-grey: #E2E2E2;
    --grey: #999999; 

    /* DIMENSIONS */
    font-size: 10px;
    --base-font-size: 10px;
    --mobile: 0;
    --mobile-landscape: 700px;
    --tablet: 1024px;
    --desktop: 1200px;
    
    /* MEDIA QUERIES */
    @custom-media --mobile-viewport (min-width: 0px);
    @custom-media --mobile-landscape-viewport (min-width: 700px);
    @custom-media --tablet-viewport (min-width: 1024px);
    @custom-media --desktop-viewport (min-width: 1200px);
}