/* MOBILE FIRST */
* {
    font-family: "Baskerville", "Georgia", serif;
    font-size: 1.6rem;
    color: var(--grey);
    font-weight: normal;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--black);
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0rem;
}

/* RESPONSIVE */
@media (--mobile-landscape-viewport){
/* responsive stuff here */
}


/* PRINT */