/* MOBILE FIRST */
* {
    font-family: "Trebuchet MS", serif; /* (e.g., Helvetica) */
    font-size: 1.4rem;
     color: var(--black);
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.4rem;
}

/* RESPONSIVE */
@media (--mobile-landscape-viewport){
    h1, h2, h3 {
        text-align: left;
    }
}


/* PRINT */